# Entornos virtuales
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos (SQLite)
*.sqlite3

# Archivos de configuración locales / secretos
.env
db.sqlite3

# Carpetas de editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db
